@charset "utf-8";
*{
    margin: 0;padding: 0;list-style: none;
}
//头部
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 2.15rem;
        height: 0.7rem;
        margin: 0.16rem 0 0.16rem 0.18rem;
    }
    span{
        font-size: 0.36rem;
    }
    .rig{
        display: flex;
        align-items: center;
        margin-right: 0.18rem;
        div{
            text-align: center;
            margin-left: 0.2rem;
            font-size: 0.22rem;
            color: #999999;
            span{
                font-size: 0.45rem;
            }
        }
    }
}
//正文
article{
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
//  background: white;
    .hx{
        width: 100%;
        display: flex;
        height: 1rem;
        box-sizing: border-box;
        padding: 0.2rem 0;
        border-bottom: 1px solid lightgray;
        div{
            width: 25%;
            text-align: center;
            box-sizing: border-box;
            font-size: 0.36rem;
            span{
                margin-left: 0.3rem;
                font-size: 0.25rem;
                color: #999999;
            }
        }
        div:nth-of-type(1){
            border-right: 1px solid #F4F4F4;
        }
        div:nth-of-type(2){
            border-right: 1px solid #F4F4F4;
        }
        div:nth-of-type(3){
            border-right: 1px solid #F4F4F4;
        }
        div:nth-of-type(4){
            span{
                margin: 0;
                color: #6BD7AF;
            }
        }
    }
    .zj{
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.16rem;
        .z1{
            width: 100%;
            height: 1.95rem;
            display: flex;
            padding: 0.3rem 0;
            border-bottom: 1px solid #F4F4F4;
            img{
                width: 2.8rem;
                height: 1.95rem;
                margin-right: 0.2rem;
            }
            p{
                margin: 0;
            }
            .zz{
                .zz1{
                    font-size: 0.36rem;
                }
                .zz2{
                    margin-top: 0.3rem;
                    font-size: 0.22rem;
                    p{
                        display: inline-block;
                        background: #39C893;
                        color: white;
                        margin-right: 0.36rem;
                    }
                    span{
                        color: #39C893;
                    }
                }
                .zz3{
                    margin-top: 0.3rem;
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.36rem;
                    align-items: center;
                    color: #D3D3D3;
                    span{
                        margin-right: 0.2rem;
                    }
                }
            }
        }
    }
    .tex{
        border-bottom: 0.18rem solid #F4F4F4;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0.36rem 0.16rem;
        .t2{
            width: 100%;
            display: flex;
            height: 0.82rem;
            line-height: 0.82rem;
            button{
                height: 0.82rem;
                font-size: 0.36rem;
                margin-top: 0.24rem;
                width: 33%;
                background: #39C893;
                outline: none;
                border: none;
                color: white;
            }
            button:nth-of-type(2){
                background: white;
                color: #000000;
            }
        }
    }
        
}
//底部
.fw{
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    padding-top: 0.36rem;
    position: relative;
    span{
        font-size: 0.32rem;
        color: #39C893;
    }
    .top{
        position: absolute;
        right: 0.3rem;
        width: 0.94rem;
        height: 0.94rem;
        border: 1px solid #dedede;
        border-radius: 50%;
        line-height: 0.94rem;
        background: white;
        top: -0.5rem;
        span{
            font-size: 0.4rem;
            color: #9c9c9c;
        }
    }
    .for{
        width: 100%;
        display: flex;
        margin-top: 0.36rem;
        li{
            width: 25%;
            text-align: center;
        }
        li:nth-of-type(1){
            color:#39C893 ;
        }
    }
    .ff{
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        font-size: 0.24rem;
        color: #999;
    }
}